<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="about.css">
        <script src="https://kit.fontawesome.com/b63f5da3ff.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AboutMe</title>
    </head>
    <body>
        <header>
            <ul>
                <li><a href="back" class="inactive">Back</a></li>
            </ul>
        </header>
        <section>
            <img src="Night.png" class="Night">
            <i class="fab fa-css3-alt"></i>


            <div class="sec" id="sec">
                <h1>Night Sky</h1>
                <p1>This website was made by Avatar, Hopefully its good.Have a nice day! 
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ipsum. 
                 Autem officiis sed illum? Quaerat tempora laboriosam expedita eos libero eveniet, 
                 deserunt, error sed quia nemo fuga voluptate accusamus voluptatum!
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                 Eum, rerum voluptatem perspiciatis nostrum quod similique eligendi atque temporibus error, 
                 laborum, officia nemo repellendus? Corporis modi deleniti quam eum odit ut!<br><br>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                 Corporis ipsum nostrum eos quaerat consequuntur blanditiis provident, eum et consequatur 
                 libero porro culpa suscipit sint necessitatibus a? Nobis totam qui debitis.</p1>
              </div>
        </section>
    </body>
</html>