<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="work.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Work</title>
    </head>
    <body>
        <header>
            <ul>
                <li><a href="back" class="inactive">Back</a></li>
                <p>
                    Hello there hope you guys are having a good time :)
                </p>
            </ul>
                <ul>
                 <li><a href="Twitter" class="inactive">Twitter</a></li>
                 <li><a href="YouTube" class="inactive">YouTube</a></li>
                </ul>
        </header>
        <section>
            <img src="Night_Sky.jpg" class="Night_Sky">
        </section>
    </body>
</html>